<div class="navbar">
  <div>
    <%= link_to "Home", root_path, class: "navbar-left" %>
  </div>
  <div class="navbar-right">
    <div>
      <%= link_to "a", a_path, class: "navbar-right-items" %>
    </div>
    <div>
      <%= link_to "b", b_path, class: "navbar-right-items" %>
    </div>
    <div>
      <%= link_to "c", c_path, class: "navbar-right-items" %>
    </div>
    <div>
      <%= link_to "d", d_path, class: "navbar-right-items" %>
    </div>
    <div>
      <%= link_to "e", e_path, class: "navbar-right-items" %>
    </div>
  </div>
</div>
