<div class="navbar">
  <div>
    <%= link_to "Home", root_path, class: "navbar-left" %>
  </div>
  <div class="navbar-right">
    <div>
      <%= link_to "a", root_path, class: "navbar-right-items" %>
    </div>
    <div>
      <%= link_to "b", root_path, class: "navbar-right-items" %>
    </div>
    <div>
      <%= link_to "c", root_path, class: "navbar-right-items" %>
    </div>
    <div>
      <%= link_to "d", root_path, class: "navbar-right-items" %>
    </div>
    <div>
      <%= link_to "e", root_path, class: "navbar-right-items" %>
    </div>
  </div>
</div>
